/* CSS Document */
body {background:#CCC;}
#box {width:800px; margin:0 auto;}
#loginbox {margin:150px 0; text-align:center;}
#login input {border:1px solid #069; background:#FFF; font:16px Tahoma, Geneva, sans-serif; color:#333}
#painel {margin:30px auto 0 auto; border:2px #FFFFFF solid;}
#painel input {border:2px solid #069; background:#FFF; font:16px Tahoma, Geneva, sans-serif; color:#333}
#painel textarea {border:2px solid #069; background:#FFF; font:16px Tahoma, Geneva, sans-serif; color:#333}
#painel select {border:2px solid #069; background:#FFF; font:16px Tahoma, Geneva, sans-serif; color:#333}
